# rename this file to '.env' after adding keys
OPENROUTER_API_KEY=keyhere,
OPENAI_API_KEY=keyhere
# change key for  which you want to use, and remove the other one. I was first on openrouter, but then I switched to openai, keeping both keys just change apiConfig.js and remove the one you don't want to use.