# rename this file to '.env' after adding keys
OPENROUTER_API_KEY=keyhere,
OPENAI_API_KEY=keyhere
# change key for  which you want to use, and remove the other one. I was first on openrouter, but then I switched to openai, keeping both keys just change apiConfig.js and remove the one you don't want to use.


# new config
PREFERRED_AGENT=ollama-local

# Local
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral

# Cloud APIs
OPENAI_API_KEY=your-key-here
OPENROUTER_API_KEY=your-key-here

# Optional
OLLAMA_TEMPERATURE=0.7
OLLAMA_TOP_P=0.9
OLLAMA_NUM_CTX=2048